primary_colors_black = rgba(58, 59, 61, 1)
primary_colors_grey-60 = rgba(126, 129, 142, 1)
primary_colors_grey-30 = rgba(195, 197, 203, 1)
primary_colors_grey-20 = rgba(225, 226, 232, 1)
primary_colors_grey-10 = rgba(242, 242, 244, 1)
primary_colors_white = rgba(255, 255, 255, 1)
primary_colors_total-black = rgba(0, 0, 0, 1)
error_colors_red = rgba(217, 86, 86, 1)
primary_colors_grey-45 = rgba(168, 170, 178, 1)
primary_colors_grey-15 = rgba(102, 106, 128, 1)
error_colors_orange = rgba(242, 153, 74, 1)
error_colors_yellow = rgba(242, 201, 76, 1)
accent_colors_rename = rgba(213, 225, 243, 1)
accent_colors_demo = rgba(47, 128, 237, 1)
accent_colors_green-40 = rgba(66, 190, 101, 1)
primary_colors_accent-2 = rgba(76, 76, 78, 1)
accent_colors_raw_inactive = rgba(244, 141, 254, 1)
accent_colors_raw_active = rgba(237, 30, 255, 1)
avatars_colors_01_red = rgba(235, 79, 54, 1)
avatars_colors_02_lime = rgba(182, 211, 0, 1)
avatars_colors_03_light_blue = rgba(41, 196, 240, 1)
avatars_colors_04_blue = rgba(47, 128, 237, 1)
avatars_colors_05_green = rgba(60, 181, 79, 1)
avatars_colors_06_violet = rgba(135, 85, 255, 1)
avatars_colors_07_braun = rgba(138, 91, 43, 1)
avatars_colors_08_fuchsia = rgba(209, 66, 160, 1)
avatars_colors_09_orange = rgba(252, 139, 52, 1)
avatars_colors_10_yellow = rgba(239, 192, 0, 1)
accent_colors_support = rgba(120, 102, 232, 1)
grey-60 = rgba(126, 129, 142, 1)
total-black = rgba(0, 0, 0, 1)
black = rgba(58, 59, 61, 1)
accent = rgba(58, 59, 61, 1)
grey-15 = rgba(102, 106, 128, 1)
white = rgba(255, 255, 255, 1)
grey-10 = rgba(242, 242, 244, 1)
grey-45 = rgba(168, 170, 178, 1)
grey-30 = rgba(195, 197, 203, 1)
black = rgba(0, 0, 0, 1)
purple_2 = rgba(187, 107, 217, 1)
grey-20 = rgba(225, 226, 232, 1)
white = rgba(255, 255, 255, 1)
guides = rgba(208, 19, 255, 1)