H5 = normal 600 15px\/1.6666666666666667 'PT Root UI', sans-serif
p2_(secondary_text_bold) = normal 600 13px\/1.5384615384615385 'PT Root UI', sans-serif
id_Userpic-letters = normal 600 12px\/1 'PT Root UI', sans-serif