H1 = normal 400 35px\/1.2857142857142858 'PT Root UI', sans-serif
H3 = normal 400 25px\/1.4 'PT Root UI', sans-serif
H2 = normal 400 30px\/1.3333333333333333 'PT Root UI', sans-serif
H5 = normal 600 15px\/1.6666666666666667 'PT Root UI', sans-serif
H4 = normal 300 20px\/1.5 'PT Root UI', sans-serif
p2_(secondary_text_bold) = normal 600 13px\/1.5384615384615385 'PT Root UI', sans-serif
p1_main-text = normal 400 15px\/1.6666666666666667 'PT Root UI', sans-serif
p3_secondary-text = normal 400 13px\/1.5384615384615385 'PT Root UI', sans-serif
editor_share_icon = normal 300 13px\/1.5384615384615385 'PT Root UI', sans-serif
id_Userpic-letters = normal 600 12px\/1 'PT Root UI', sans-serif
id_Password-hidden = normal 400 15px\/1.6666666666666667 'PT Root UI', sans-serif
editor_caps = normal 400 10px\/2 'PT Root UI', sans-serif
Keyboard_Shortcuts = normal 400 10px\/1.5 'PT Root UI', sans-serif