H1 = normal 500 36px/1.1 'PT Root UI', sans-serif
Text = normal 500 14px/1.2 'PT Root UI', sans-serif
Search_Start = normal 500 21px/1 'PT Root UI', sans-serif
Search_Type = normal 500 21px/1 'PT Root UI', sans-serif
Hint = normal 500 12px/1.2 'PT Root UI', sans-serif
H3 = normal 700 14px/1.2 'PT Root UI', sans-serif
H2 = normal 400 21px/1 'PT Root UI', sans-serif
Password_Hidden = normal 500 14px/1.2 'PT Root UI', sans-serif
Password_Non-hidden = normal 500 14px/1.2 'PT Root UI', sans-serif