.H1 {
  font-family: 'PT Root UI', sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0px;
  font-style: normal;
}

.Text {
  font-family: 'PT Root UI', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0px;
  font-style: normal;
}

.Search_Start {
  font-family: 'PT Root UI', sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0px;
  font-style: normal;
}

.Search_Type {
  font-family: 'PT Root UI', sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0px;
  font-style: normal;
}

.Hint {
  font-family: 'PT Root UI', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0px;
  font-style: normal;
}

.H3 {
  font-family: 'PT Root UI', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0px;
  font-style: normal;
}

.H2 {
  font-family: 'PT Root UI', sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0px;
  font-style: normal;
}

.Password_Hidden {
  font-family: 'PT Root UI', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 5.6000000000000005px;
  font-style: normal;
}

.Password_Non-hidden {
  font-family: 'PT Root UI', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 3.5px;
  font-style: normal;
}